In [1]:
l=[1,2,3,4,5]
l[0]

1

In [2]:
l=["apple","banana","carraot"]
l[2]
print(l)

['apple', 'banana', 'carraot']

In [3]:
l=["apple","banana","carraot","apple","cucumber"]
print(l)

['apple', 'banana', 'carraot', 'apple', 'cucumber']

In [4]:
print(len(l))

5

In [5]:
l=[True,False,True]
if l[2] is True:
    print("hi")
else:
    print("Hello")

hi

In [6]:
l=["apple",22,"banana",True,"carraot"]
print(all(l))
print(type(l))

True
<class 'list'>

In [7]:
l=list(("apple","banana","orange"))
print(l)
print(type(l))

['apple', 'banana', 'orange']
<class 'list'>

In [8]:
l=["apple",22,"banana",True,"carraot","orange",24,"hello",67]
print(l)
print(type(l))

['apple', 22, 'banana', True, 'carraot', 'orange', 24, 'hello', 67]
<class 'list'>

In [9]:
print(l[-1])
print(l[2:4])
print(l[:])
print(l[1:])
print(l[:5])
print(l[-4:-1])
print(l[:-1])

67
['banana', True]
['apple', 22, 'banana', True, 'carraot', 'orange', 24, 'hello', 67]
[22, 'banana', True, 'carraot', 'orange', 24, 'hello', 67]
['apple', 22, 'banana', True, 'carraot']
['orange', 24, 'hello']
['apple', 22, 'banana', True, 'carraot', 'orange', 24, 'hello']

In [10]:
if "apple" in l:
    print("True")
else:
    print("False")

True

In [11]:
l=[1,2,3,4,4,5,6,7,7,8]
count =0
l[3]="hello"
print(l)
l[1:3]="hi","hello","how"
print(l)

[1, 2, 3, 'hello', 4, 5, 6, 7, 7, 8]
[1, 'hi', 'hello', 'how', 'hello', 4, 5, 6, 7, 7, 8]

In [16]:
l.insert(2,"wow")#insert at second place
l.insert(1,223)
print(l)

[23, 223, 44, 'wow', 55]

In [13]:
l.append("23")#added at last
print(l)

[1, 223, 'hi', 'wow', 'hello', 'how', 'hello', 4, 5, 6, 7, 7, 8, '23']

In [17]:
#remove : remove, pop
l.remove("wow")
print(l)
l.pop(3)
print(l)
l.pop()#last element deleted
print(l)
del l[-1]
print(l)
del l
l=[23,44,55]
l.clear()
print(l)

[23, 223, 44, 55]
[23, 223, 44]
[23, 223]
[23]
[]

In [24]:
l1=[1,2,"hi",3,4,"hello",6,7,8,9]
for i in l:
    print(i)

1
2
hi
3
4
hello
6
7
8
9

In [22]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [26]:
list=[1,2,4]
for i in range(len(list)):
    print(list[i])

1
2
4

In [29]:
i=0
while i < len(list):
    print(list[i])
    i=i+1

1
2
4

In [31]:
[print(x) for x in list]

1
2
4

[None, None, None]

In [34]:
fruits=["apple","banana","cucumber","kiwi"]
new=[]
for x in fruits:
    if "a" in x:
        new.append(x)
print(new)

['apple', 'banana']

In [39]:
fruits=["apple","banana","cucumber","kiwi"]
new=[x for x in fruits if "a" in x]
print(new)

['apple', 'banana']

In [49]:
list1 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list1.sort()#alphabetical order
print(list)

[98, 24, 14, 5]

In [41]:
list1 = [24,98,14,5]
list1.sort()#numerical order - ascending
print(list)

[5, 14, 24, 98]

In [50]:
list1 = [24,98,14,5]
list1.sort(reverse=True)#descending order
print(list)

[98, 24, 14, 5]

In [51]:
fruits=["apple","banana","cucumber","kiwi"]
new=[]
new=fruits.copy()
print(new)

['apple', 'banana', 'cucumber', 'kiwi']

In [53]:
fruits=["apple","banana","cucumber","kiwi"]
new=list(fruits)
print(new)
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

TypeError: 'list' object is not callable

In [54]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [55]:
for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [56]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]