In [1]:
# check num is +ve/-Ve/0

In [10]:
def checknum(num):
    if num==0:
        print("ENterd number",num,"is zero")
    elif num > 0:
        print("ENterd number",num,"is positive")
    else:
        print("ENterd number",num,"is Negative")
num=int(input("Enter num:"))
checknum(num)

Enter num:-99
ENterd number -99  is Negative

In [ ]:
# Even Odd

In [17]:
def evenodd(num):
    if num%2==0:
        print("{0} is Even".format(num))
    else:
        print("{0} is Odd".format(num))
num=int(input("Enter num:"))
evenodd(num)

Enter num:23
23 is Odd

In [15]:
# Leap year

In [23]:
def leapyear(num):
    if num%400==0 and num%100==0:
        print("{0} is a leap year".format(num))
    elif num%4==0 and num%100!=0:
        print("{0} is a leap year".format(num))
    else:
        print("{0} is not a leap year".format(num))
num=int(input("Enter num:"))
leapyear(num)

Enter num:2000
2000 is a leap year

In [24]:
# Largest among 3

In [28]:
def largest(a,b,c):
    if a>b and a>c:
        print("{0} is largest".format(a))
    elif b>c and b>c:
        print("{0} is largest".format(b))
    else:
        print("{0} is largest".format(c))
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
largest(a,b,c)

Enter a:3
Enter b:2
Enter c:1
3 is largest

In [32]:
def largest(a,b,c):
    if a>b and a>c:
        l=a
    elif b>c and b>c:
        l=b
    else:
        l=c
    print("{0} is largest".format(l))
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
largest(a,b,c)

Enter a:23
Enter b:67
Enter c:33
67 is largest

In [33]:
# prime or not

In [43]:
def prime(num):
    flag=0
    if num==1:
        print("{0} is Not prime number".format(num))
    elif num>1:
        for i in range(2,num):
            if(num%i==0):
                flag = flag+1
                break
        if flag == 0:
            print("{0} is prime number".format(num))
        else:
            print("{0} is Not prime number".format(num))

num = int(input("Enter num:"))
prime(num)

Enter num:33
33 is Not prime number

In [44]:
# print prime nums in given range

In [62]:
def primenum(a,b):
    for num in range (a,b+1):
        if num>1:
            for i in range(2,num):
                if(num%i==0):
                    break
            else:
                print(num)
a=int(input("Enter a:"))
b=int(input("Enter b:"))
primenum(a,b)

Enter a:2
Enter b:10
2
3
5
7

In [ ]:
# Factorial

In [1]:
def fact(num):
    factorial =1
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)
num=int(input("Enter number:"))
fact(num)

Enter number:7
The factorial of 7 is 5040

In [ ]:
#display multiplication table

In [7]:
def table(num):
    for i in range(1,11):
        res = num*i
        print(num,"x",i,"=",res)
num=int(input("Enter number:"))
table(num)

Enter number:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [13]:
def table(num):
    for i in range(1,11):
        res = num*i
        print("{0} x {1} = {2}".format(num,i,res))
num=int(input("Enter number:"))
table(num)

Enter number:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
# fibonacci series

In [25]:
def fib(n):
    n1=0
    n2=1
    print(n1,n2,end=' ')
    for i in range(1,n+1):
        num=n1+n2
        n1=n2
        n2=num
        print(num,end=' ')
n=int(input("Enter range:"))
fib(n)

Enter range:3
0 1 1 2 3

In [26]:
# Armstrong number or not

In [63]:
def arm(num):#123
    sum=0
    temp=num            #[temp=123]          [temp=12]       [temp=1]
    for i in range(1,n+1):
        # getting remainder i.e each digit separately
        d=temp%10       # [(123%10 = 3)]    [12%10 = 2]     [1%10=1]
        sum=sum+(d**n)  # [0+(3^3)=27]      [27+(2^3)=35]   [35+(1^3)=36]
        temp=temp//10   # [123//10 = 12]    [12//10=1]      [1//10]
    if num==sum:
        print("Armstrong")     #36!=123
    else:
        print("Not Armstrong")
#n = int(input("Enter no of digits in number:"))  
num=int(input("Enter num:"))
n=len(str(num))
print(n)
arm(num) #153

Enter num:123
3
Not Armstrong

In [64]:
def arm(num):#123
    sum=0
    temp=num            #[temp=123]          [temp=12]       [temp=1]
    for i in range(1,n+1):
        # getting remainder i.e each digit separately
        d=temp%10       # [(123%10 = 3)]    [12%10 = 5]     [1%10=1]
        sum=sum+(d**n)  # [0+(3^3)=27]      [27+(5^3)=152]   [152+(1^3)=153]
        temp=temp//10   # [123//10 = 12]    [15//10=1]      [1//10]
    if num==sum:
        print("Armstrong")     #153=153
    else:
        print("Not Armstrong")
#n = int(input("Enter no of digits in number:"))  
num=int(input("Enter num:"))
n=len(str(num))
print(n)
arm(num) #153

Enter num:153
3
Armstrong

In [ ]:
#sum of n natural nums

In [3]:
def sumofn(n):
    sum=0
    for i in range(1,n+1):
        sum=sum+i
    print(sum)
n=int(input("Enter range:"))
sumofn(n)

Enter range:2
3

In [ ]:
def sum_of_n(n):
    sum = 0
    x = 1
    if n>=1:
        while(x<=n):
            sum = sum + x
            x = x + 1
        return sum
n = int(input("ENter range:"))
print(sum_of_n(n))

In [4]:
# multiply 2 nums without *

In [9]:
def mul(x,y):
    p=0
    while(y!=0):
        p=p+x
        y=y-1
    print(p)
x=int(input("Enter x:"))
y=int(input("Enter y:"))
mul(x,y)

Enter x:2
Enter y:3
6

In [10]:
# number divisible by another number

In [25]:
def div(x,y):
    if(x%y==0):
        print("{0} is divisible by {1}".format(x,y))
    else:
        print("{0} is not divisible by {1}".format(x,y))
x=int(input("Enter x:"))
y=int(input("Enter y:"))
div(x,y)

Enter x:4
Enter y:3
4 is not divisible by 3

In [ ]:
# factors of a number

In [28]:
def factor(n):
    for i in range(1,n+1):
        if(n%i==0):
            print(i)
n=int(input("Enter num:"))
factor(n)

Enter num:48
1
2
3
4
6
8
12
16
24
48

In [9]:
import calendar
print(calendar.month(2023,9))

   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30